# Ignorar dependencias
/node_modules
/vendor

# Ignorar archivos sensibles
/.env
/.env.*
/storage/*.key
/auth.json

# Ignorar configuraciones del IDE y herramientas de desarrollo
/.idea
/.vscode
/.phpactor.json
/.phpunit.cache
/.phpunit.result.cache
/.fleet

# Ignorar logs y caché
/storage/logs
/storage/framework/*
!/storage/framework/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Ignorar archivos generados por npm, Vite y Laravel Mix
/public/build
/public/hot
/public/storage
npm-debug.log
yarn-error.log

# Ignorar configuraciones de Homestead 
/Homestead.json
/Homestead.yaml
